{% extends getPartial('page-design') %}

{% set itemSort             = request.get("itemSorting") | default( config('Ceres.sort.defaultSorting') ) | split('_') %}
{% set orderBy              = itemSort[0] %}
{% set orderByKey           = itemSort[1] | default('ASC') %}
{% set variationShowType    = config("Ceres.item.variation_show_type") %}
{% set categoryParams = {
'variationShowType' : config("Ceres.item.variation_show_type"),
'itemsPerPage'      : request.get("items_per_page") | default( config('Ceres.pagination.defaultItemsPerPage') ),
'orderBy'           : itemSort[0],
'orderByKey'        : itemSort[1] | default('ASC'),
'facetParams'       : request.get("facets")
} %}

{% set page                 = request.get("page") | default(1) %}

{% set paginatedResult      = services.itemLoader.loadForTemplate('Ceres::Category.Item.CategoryItem', itemLoaderPresets.categoryList, {'categoryId':category.id, 'page':page, 'itemsPerPage':categoryParams.itemsPerPage, 'facets': facetParams}) %}

{% set itemList             = paginatedResult.documents %}
{% set paginationType       = config("Ceres.pagination.position") %}

{% block PageBody %}

    {{ component( "Ceres::ItemList.Components.Filter.ItemFilterList") }}
    {{ component( "Ceres::ItemList.Components.ItemList") }}
    {{ component( "Ceres::ItemList.Components.CategoryImageCarousel") }}

    <resource name="facetParams" :data="[]"></resource>
    <resource name="facets" :data="{{ paginatedResult.facets | json_encode }} || []"></resource>
    <resource name="itemList" :data="{}"></resource>

    <div class="categoriegrid page-content container-max">
        <div class="row m-t-1">
            <div class="col-xs-12">
                <h1 class="h4">{{ category.details.first.name }}</h1>
            </div>
        </div>

        <div class="list-controls m-b-3">
            <div class="list-controls-inner">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-inline">
                            <div class="list-sort">
                                <select class="custom-select">
                                    <option value="" disabled selected>Sortieren</option>
                                    <option value="1">Name</option>
                                    <option value="2">Beliebtheit</option>
                                    <option value="3">Preis aufsteigend</option>
                                    <option value="4">Preis absteigend</option>
                                </select>
                            </div>
                            <div class="list-itemsperpage">
                                <select class="custom-select">
                                    <option selected>20</option>
                                    <option value="1">40</option>
                                    <option value="2">60</option>
                                    <option value="3">Alle</option>
                                </select>
                            </div>
                            <div class="list-pagination-text">
                                Seite:
                            </div>
                             <div class="list-pagination">
                                <nav aria-label="list-pagination">
                                    <ul class="pagination">
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                                <span class="sr-only">Zurück</span>
                                            </a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                                <span class="sr-only">Nächste</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="list-pagination-text">
                                von 15
                            </div>

                            <a class="btn btn-link filter-toggle" data-toggle="collapse" href="#filterCollapse" aria-expanded="false" aria-controls="filterCollapse">
                                <i class="fa fa-sliders" aria-hidden="true"></i> Filter
                            </a>

                            
                        

                        </div>
                    </div>
                </div>

                <div class="collapse" id="filterCollapse">
                    <div class="container-max page-content">

                        <div class="card-columns">

                            <div class="card">
                                <h3>Bewegungsmelder</h3>
                                <div class="form-check">
                                    <input id="option-1" class="form-check-input hidden-xs-up" type="checkbox" value="">
                                    <label for="option-1" class="form-check-label">
                                        ohne
                                    </label>
                                    <div class="filter-badge">533</div>
                                </div>
                                <div class="form-check">
                                    <input id="option-2" class="form-check-input hidden-xs-up" type="checkbox" value="">
                                    <label for="option-2" class="form-check-label">
                                        mit
                                    </label>
                                    <div class="filter-badge">36</div>
                                </div>
                            </div>
                            <div class="card">
                                <h3>Dimmbar</h3>
                                <div class="form-check">
                                    <input id="option-3" class="form-check-input hidden-xs-up" type="checkbox" value="">
                                    <label for="option-3" class="form-check-label">
                                        nicht dimmbar
                                    </label>
                                    <div class="filter-badge">36</div>
                                </div>
                                <div class="form-check">
                                    <input id="option-4" class="form-check-input hidden-xs-up" type="checkbox" value="">
                                    <label for="option-4" class="form-check-label">
                                        dimmbar
                                    </label>
                                    <div class="filter-badge">36</div>
                                </div>
                            </div>
                            <div class="card">
                                <h3>Lichtfarbe</h3>
                                <div class="form-check">
                                    <input id="option-5" class="form-check-input hidden-xs-up" type="checkbox" value="">
                                    <label for="option-5" class="form-check-label">
                                        tageslichtweiß
                                    </label>
                                    <div class="filter-badge">36</div>
                                </div>
                                <div class="form-check">
                                    <input id="option-6" class="form-check-input hidden-xs-up" type="checkbox" value="">
                                    <label for="option-6" class="form-check-label">
                                        neutralweiß
                                    </label>
                                    <div class="filter-badge">36</div>
                                </div>
                                <div class="form-check">
                                    <input id="option-7" class="form-check-input hidden-xs-up" type="checkbox" value="">
                                    <label for="option-7" class="form-check-label">
                                        warmweiß
                                    </label>
                                    <div class="filter-badge">36</div>
                                </div>
                                <div class="form-check">
                                    <input id="option-8" class="form-check-input hidden-xs-up" type="checkbox" value="">
                                    <label for="option-8" class="form-check-label">
                                        farbig
                                    </label>
                                    <div class="filter-badge">36</div>
                                </div>
                                <div class="form-check">
                                    <input id="option-9" class="form-check-input hidden-xs-up" type="checkbox" value="">
                                    <label for="option-9" class="form-check-label">
                                        variabel
                                    </label>
                                    <div class="filter-badge">36</div>
                                </div>
                            </div>
                            <div class="card">
                                <h3>Material</h3>
                                <div class="form-check">
                                    <input id="option-10" class="form-check-input hidden-xs-up" type="checkbox" value="">
                                    <label for="option-10" class="form-check-label">
                                        Draht
                                    </label>
                                    <div class="filter-badge">36</div>
                                </div>
                                <div class="form-check">
                                    <input id="option-11" class="form-check-input hidden-xs-up" type="checkbox" value="">
                                    <label for="option-11" class="form-check-label">
                                        Metall
                                    </label>
                                    <div class="filter-badge">36</div>
                                </div>
                                <div class="form-check">
                                    <input id="option-12" class="form-check-input hidden-xs-up" type="checkbox" value="">
                                    <label for="option-12" class="form-check-label">
                                        Glas
                                    </label>
                                    <div class="filter-badge">36</div>
                                </div>
                                <div class="form-check">
                                    <input id="option-13" class="form-check-input hidden-xs-up" type="checkbox" value="">
                                    <label for="option-13" class="form-check-label">
                                        Kunststoff
                                    </label>
                                    <div class="filter-badge">36</div>
                                </div>
                                <div class="form-check">
                                    <input id="option-14" class="form-check-input hidden-xs-up" type="checkbox" value="">
                                    <label for="option-14" class="form-check-label">
                                        Textil
                                    </label>
                                    <div class="filter-badge">36</div>
                                </div>
                            </div>
                            <div class="card">
                                <h3>Farbe</h3>
                                <div class="form-check">
                                    <input id="option-15" class="form-check-input hidden-xs-up" type="checkbox" value="">
                                    <label for="option-15" class="form-check-label">
                                        silber
                                    </label>
                                    <div class="filter-badge">36</div>
                                </div>
                                <div class="form-check">
                                    <input id="option-16" class="form-check-input hidden-xs-up" type="checkbox" value="">
                                    <label for="option-16" class="form-check-label">
                                        grau
                                    </label>
                                    <div class="filter-badge">36</div>
                                </div>
                                <div class="form-check">
                                    <input id="option-17" class="form-check-input hidden-xs-up" type="checkbox" value="">
                                    <label for="option-17" class="form-check-label">
                                        schwarz
                                    </label>
                                    <div class="filter-badge">36</div>
                                </div>
                                <div class="form-check">
                                    <input id="option-18" class="form-check-input hidden-xs-up" type="checkbox" value="">
                                    <label for="option-18" class="form-check-label">
                                        weiß
                                    </label>
                                    <div class="filter-badge">36</div>
                                </div>
                                <div class="form-check">
                                    <input id="option-19" class="form-check-input hidden-xs-up" type="checkbox" value="">
                                    <label for="option-19" class="form-check-label">
                                        grün
                                    </label>
                                    <div class="filter-badge">36</div>
                                </div>
                            </div>
                            <div class="card">
                                <h3>Fassung</h3>
                                <div class="form-check">
                                    <input id="option-20" class="form-check-input hidden-xs-up" type="checkbox" value="">
                                    <label for="option-20" class="form-check-label">
                                        E27
                                    </label>
                                    <div class="filter-badge">36</div>
                                </div>
                                <div class="form-check">
                                    <input id="option-21" class="form-check-input hidden-xs-up" type="checkbox" value="">
                                    <label for="option-21" class="form-check-label">
                                        LED integriert
                                    </label>
                                    <div class="filter-badge">36</div>
                                </div>
                                <div class="form-check">
                                    <input id="option-22" class="form-check-input hidden-xs-up" type="checkbox" value="">
                                    <label for="option-22" class="form-check-label">
                                        G4
                                    </label>
                                    <div class="filter-badge">36</div>
                                </div>
                                <div class="form-check">
                                    <input id="option-23" class="form-check-input hidden-xs-up" type="checkbox" value="">
                                    <label for="option-23" class="form-check-label">
                                        T1
                                    </label>
                                    <div class="filter-badge">36</div>
                                </div>
                                <div class="form-check">
                                    <input id="option-24" class="form-check-input hidden-xs-up" type="checkbox" value="">
                                    <label for="option-24" class="form-check-label">
                                        GU10
                                    </label>
                                    <div class="filter-badge">36</div>
                                </div>
                            </div>
                            <div class="card">
                                <h3>Besonderheit</h3>
                                <div class="form-check">
                                    <input id="option-25" class="form-check-input hidden-xs-up" type="checkbox" value="">
                                    <label for="option-25" class="form-check-label">
                                        Set
                                    </label>
                                    <div class="filter-badge">36</div>
                                </div>
                                <div class="form-check">
                                    <input id="option-26" class="form-check-input hidden-xs-up" type="checkbox" value="">
                                    <label for="option-26" class="form-check-label">
                                        Wifi
                                    </label>
                                    <div class="filter-badge">36</div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-xs-right">
                                <button type="button" class="btn btn-primary" data-toggle="collapse" href="#filterCollapse" aria-expanded="false" aria-controls="filterCollapse">
                                    <i class="fa fa-check" aria-hidden="true"></i> Anwenden
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="selected-filters clearfix">
                <span class="selected-filter">
                    <i class="fa fa-times" aria-hidden="true"></i> Draht
                </span>
                <span class="selected-filter">
                    <i class="fa fa-times" aria-hidden="true"></i> Metall
                </span>
                <span class="selected-filter">
                    <i class="fa fa-times" aria-hidden="true"></i> E27
                </span>
                <span class="selected-filter">
                    <i class="fa fa-times" aria-hidden="true"></i> dimmbar
                </span>
                <span class="selected-filter">
                    <i class="fa fa-times" aria-hidden="true"></i> silber
                </span>
            </div>
        </div>

        
        <div class="m-b-3">
            {% include "Ceres::Category.Item.Partials.Pagination" with { 'paginatedResult': paginatedResult } %}
        </div>
        <div class="row">
            <div class="col-xs-12">

                <ul id="twig-rendered-item-list" class="product-list row grid" v-facet-param-watcher>
                    {% for item in itemList %}
                        <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            {% include "Ceres::Category.Item.Partials.CategoryListItem" with { 'item': item } %}
                        </li>
                    {% endfor %}
                </ul>

                <div id="vue-rendered-item-list" style="display:none">
                    <item-list template="#vue-item-list"></item-list>
                </div>

            </div>
        </div>
    </div>
    <div class="list-controls m-b-3">
        <div class="col-xs-12">
            {% include "Ceres::Category.Item.Partials.Pagination" with { 'paginatedResult': paginatedResult } %}
        </div>
    </div>
{% endblock %}