{% extends 'Ceres::Homepage.Homepage' %}

{% block ThemeHomepage %}

<div class="home container-max">


    <div class="row teaser">
        <div class="col-xs-12 text-xs-center">
            <i class="fa fa-gg-circle fa-5x" aria-hidden="true"></i>
            <h1>
            KIOM
            </h1>
            <h3>
                Subheading
            </h3>
        </div>
    </div>
    <div class="row page-content categoriegrid">
        <div class="col-xs-12 p-y-2">
            <h1 class="m-b-2">
                Section Heading
            </h1>
<ul class="product-list row grid">
    <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        
        <article class="cmp cmp-product-thumb cmp-product-thumb--grid">
            <div class="thumb-inner">
                <div class="thumb-background"></div>
                <span>
                    <div class="thumb-controls">
                        <span>
                            <button class="btn btn-primary thumb-btn-buy">
                            {{ trans("Ceres::Template.addToBasket") }}
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            </button>
                        </span>
                    </div>
                    <div class="thumb-basket-frame">
                        <div class="thumb-basket-inner fa-cart-plus">
                        </div>
                    </div>
                </span>
                
                <div class="thumb-image">
                    <div class="square-container">
                        <div class="square-inner main-image">
                            <div>
                                <div>
                                    <a href="/barhocker-white-sanfrancisco/109/1007">
                                        <img class="img-fluid lazy" data-original="/item/images/109/3000x3000/109-Barhocker-White-SanFrancisco.jpg" src="/item/images/109/3000x3000/109-Barhocker-White-SanFrancisco.jpg" style="display: inline;">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- STORE SPECIALS -->
                <!-- ./STORE SPECIALS -->
                <!-- ITEM DETAILS -->
                <div class="thumb-content">
                    <a href="/barhocker-white-sanfrancisco/109/1007" class="thumb-title small">
                        Barhocker White SanFrancisco
                        
                    </a>
                    <div class="thumb-meta">
                        
                        <div class="prices">
                            <del class="crossprice">
                            100,00&nbsp;€
                            </del>
                            
                            <div class="price">
                                79,00&nbsp;€
                            </div>
                        </div>
                        
                    </div>
                </div>
                <!-- ./ITEM DETAILS  -->
            </div>
        </article>
        </li>
        <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            
            <article class="cmp cmp-product-thumb cmp-product-thumb--grid">
                <div class="thumb-inner">
                    <div class="thumb-background"></div>
                    <span>
                        <div class="thumb-controls">
                            <span>
                                <button class="btn btn-primary thumb-btn-buy">
                                {{ trans("Ceres::Template.addToBasket") }}
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                </button>
                            </span>
                        </div>
                        <div class="thumb-basket-frame">
                            <div class="thumb-basket-inner fa-cart-plus">
                            </div>
                        </div>
                    </span>
                    
                    <div class="thumb-image">
                        <div class="square-container">
                            <div class="square-inner main-image">
                                <div>
                                    <div>
                                        <a href="/barhockerl-fury-gepolstert/107/1005">
                                            <img class="img-fluid lazy" data-original="/item/images/107/3000x3000/107-Barhocker-Fury-gepolstert.jpg" src="/item/images/107/3000x3000/107-Barhocker-Fury-gepolstert.jpg" style="display: inline;">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- STORE SPECIALS -->
                    <div class="special-tags">
                        
                        
                        
                        
                        <span class="tag bg-danger">
                            -39%
                        </span>
                    </div>
                    <!-- ./STORE SPECIALS -->
                    <!-- ITEM DETAILS -->
                    <div class="thumb-content">
                        <a href="/barhockerl-fury-gepolstert/107/1005" class="thumb-title small">
                            Barhockerl Fury gepolstert
                            
                        </a>
                        <div class="thumb-meta">
                            
                            <div class="prices">
                                <del class="crossprice">
                                110,00&nbsp;€
                                </del>
                                
                                <div class="price">
                                    79,00&nbsp;€
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- ./ITEM DETAILS  -->
                </div>
            </article>                    </li>
            <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                
                <article class="cmp cmp-product-thumb cmp-product-thumb--grid">
                    <div class="thumb-inner">
                        <div class="thumb-background"></div>
                        <span>
                            <div class="thumb-controls">
                                <span>
                                    <button class="btn btn-primary thumb-btn-buy">
                                    {{ trans("Ceres::Template.addToBasket") }}
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </div>
                            <div class="thumb-basket-frame">
                                <div class="thumb-basket-inner fa-cart-plus">
                                </div>
                            </div>
                        </span>
                        
                        <div class="thumb-image">
                            <div class="square-container">
                                <div class="square-inner main-image">
                                    <div>
                                        <div>
                                            <a href="/barsessel-black-mamba/108/1006">
                                                <img class="img-fluid lazy" data-original="/item/images/108/3000x3000/108-Barsessel-Black-Mamba.jpg" src="/item/images/108/3000x3000/108-Barsessel-Black-Mamba.jpg" style="display: inline;">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- STORE SPECIALS -->
                        <!-- ./STORE SPECIALS -->
                        <!-- ITEM DETAILS -->
                        <div class="thumb-content">
                            <a href="/barsessel-black-mamba/108/1006" class="thumb-title small">
                                Barsessel Black Mamba
                                
                            </a>
                            <div class="thumb-meta">
                                
                                <div class="prices">
                                    <del class="crossprice">
                                    120,00&nbsp;€
                                    </del>
                                    
                                    <div class="price">
                                        99,00&nbsp;€
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <!-- ./ITEM DETAILS  -->
                    </div>
                </article>                    </li>
                <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    
                    <article class="cmp cmp-product-thumb cmp-product-thumb--grid">
                        <div class="thumb-inner">
                            <div class="thumb-background"></div>
                            <span>
                                <div class="thumb-controls">
                                    <span>
                                        <button class="btn btn-primary thumb-btn-buy">
                                        {{ trans("Ceres::Template.addToBasket") }}
                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                </div>
                                <div class="thumb-basket-frame">
                                    <div class="thumb-basket-inner fa-cart-plus">
                                    </div>
                                </div>
                            </span>
                            
                            <div class="thumb-image">
                                <div class="square-container">
                                    <div class="square-inner main-image">
                                        <div>
                                            <div>
                                                <a href="/cocktailsessel-venedig/111/1009">
                                                    <img class="img-fluid lazy" data-original="/item/images/111/3000x3000/111-Cocktailsessel-Venedig.jpg" src="/item/images/111/3000x3000/111-Cocktailsessel-Venedig.jpg" style="display: inline;">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- STORE SPECIALS -->
                            <!-- ./STORE SPECIALS -->
                            <!-- ITEM DETAILS -->
                            <div class="thumb-content">
                                <a href="/cocktailsessel-venedig/111/1009" class="thumb-title small">
                                    Cocktailsessel Venedig
                                    
                                </a>
                                <div class="thumb-meta">
                                    
                                    <div class="prices">
                                        <del class="crossprice">
                                        150,00&nbsp;€
                                        </del>
                                        
                                        <div class="price">
                                            119,00&nbsp;€
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- ./ITEM DETAILS  -->
                        </div>
                    </article>                    </li>
                    <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        
                        <article class="cmp cmp-product-thumb cmp-product-thumb--grid">
                            <div class="thumb-inner">
                                <div class="thumb-background"></div>
                                <span>
                                    <div class="thumb-controls">
                                        <span>
                                            <button class="btn btn-primary thumb-btn-buy">
                                            {{ trans("Ceres::Template.addToBasket") }}
                                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                            </button>
                                        </span>
                                    </div>
                                    <div class="thumb-basket-frame">
                                        <div class="thumb-basket-inner fa-cart-plus">
                                        </div>
                                    </div>
                                </span>
                                
                                <div class="thumb-image">
                                    <div class="square-container">
                                        <div class="square-inner main-image">
                                            <div>
                                                <div>
                                                    <a href="/design-sessel-black-white/114/1012">
                                                        <img class="img-fluid lazy" data-original="/item/images/114/3000x3000/114-Design-Sessel-BlackundWhite.jpg" src="/item/images/114/3000x3000/114-Design-Sessel-BlackundWhite.jpg" style="display: inline;">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- STORE SPECIALS -->
                                <!-- ./STORE SPECIALS -->
                                <!-- ITEM DETAILS -->
                                <div class="thumb-content">
                                    <a href="/design-sessel-black-white/114/1012" class="thumb-title small">
                                        Design Sessel Black&amp;White
                                        
                                    </a>
                                    <div class="thumb-meta">
                                        
                                        <div class="prices">
                                            <del class="crossprice">
                                            290,00&nbsp;€
                                            </del>
                                            
                                            <div class="price">
                                                149,00&nbsp;€
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <!-- ./ITEM DETAILS  -->
                            </div>
                        </article>                    </li>
                        <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            
                            <article class="cmp cmp-product-thumb cmp-product-thumb--grid">
                                <div class="thumb-inner">
                                    <div class="thumb-background"></div>
                                    <span>
                                        <div class="thumb-controls">
                                            <span>
                                                <button class="btn btn-primary thumb-btn-buy">
                                                {{ trans("Ceres::Template.addToBasket") }}
                                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                </button>
                                            </span>
                                        </div>
                                        <div class="thumb-basket-frame">
                                            <div class="thumb-basket-inner fa-cart-plus">
                                            </div>
                                        </div>
                                    </span>
                                    
                                    <div class="thumb-image">
                                        <div class="square-container">
                                            <div class="square-inner main-image">
                                                <div>
                                                    <div>
                                                        <a href="/esszimmerstuhl-juicyorange/115/1013">
                                                            <img class="img-fluid lazy" data-original="/item/images/115/3000x3000/115-Esszimmerstuhl-JuicyOrange.jpg" src="/item/images/115/3000x3000/115-Esszimmerstuhl-JuicyOrange.jpg" style="display: inline;">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- STORE SPECIALS -->
                                    <div class="special-tags">
                                        
                                        
                                        
                                        
                                        <span class="tag bg-danger">
                                            -19%
                                        </span>
                                    </div>
                                    <!-- ./STORE SPECIALS -->
                                    <!-- ITEM DETAILS -->
                                    <div class="thumb-content">
                                        <a href="/esszimmerstuhl-juicyorange/115/1013" class="thumb-title small">
                                            Esszimmerstuhl JuicyOrange
                                            
                                        </a>
                                        <div class="thumb-meta">
                                            
                                            <div class="prices">
                                                <del class="crossprice">
                                                70,00&nbsp;€
                                                </del>
                                                
                                                <div class="price">
                                                    59,00&nbsp;€
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- ./ITEM DETAILS  -->
                                </div>
                            </article>                    </li>
                            <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                
                                <article class="cmp cmp-product-thumb cmp-product-thumb--grid">
                                    <div class="thumb-inner">
                                        <div class="thumb-background"></div>
                                        <span>
                                            <div class="thumb-controls">
                                                <span>
                                                    <button class="btn btn-primary thumb-btn-buy">
                                                    {{ trans("Ceres::Template.addToBasket") }}
                                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            <div class="thumb-basket-frame">
                                                <div class="thumb-basket-inner fa-cart-plus">
                                                </div>
                                            </div>
                                        </span>
                                        
                                        <div class="thumb-image">
                                            <div class="square-container">
                                                <div class="square-inner main-image">
                                                    <div>
                                                        <div>
                                                            <a href="/sessel-king-george/124/1022">
                                        <img class="img-fluid lazy" data-original="/item/images/109/3000x3000/109-Barhocker-White-SanFrancisco.jpg" src="/item/images/109/3000x3000/109-Barhocker-White-SanFrancisco.jpg" style="display: inline;">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- STORE SPECIALS -->
                                        <div class="special-tags">
                                            
                                            
                                            
                                            <span class="tag bg-success">
                                                Top
                                            </span>
                                        </div>
                                        <!-- ./STORE SPECIALS -->
                                        <!-- ITEM DETAILS -->
                                        <div class="thumb-content">
                                            <a href="/sessel-king-george/124/1022" class="thumb-title small">
                                                Holzringe
                                                
                                            </a>
                                            <div class="thumb-meta">
                                                
                                                <div class="prices">
                                                    <del class="crossprice">
                                                    245,00&nbsp;€
                                                    </del>
                                                    
                                                    <div class="price">
                                                        222,00&nbsp;€
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <!-- ./ITEM DETAILS  -->
                                    </div>
                                </article>                    </li>
                                <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                    
                                    <article class="cmp cmp-product-thumb cmp-product-thumb--grid">
                                        <div class="thumb-inner">
                                            <div class="thumb-background"></div>
                                            <span>
                                                <div class="thumb-controls">
                                                    <span>
                                                        <button class="btn btn-primary thumb-btn-buy">
                                                        {{ trans("Ceres::Template.addToBasket") }}
                                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                                <div class="thumb-basket-frame">
                                                    <div class="thumb-basket-inner fa-cart-plus">
                                                    </div>
                                                </div>
                                            </span>
                                            
                                            <div class="thumb-image">
                                                <div class="square-container">
                                                    <div class="square-inner main-image">
                                                        <div>
                                                            <div>
                                                                <a href="/sessel-floating-water/123/1021">
                                                        <img class="img-fluid lazy" data-original="/item/images/114/3000x3000/114-Design-Sessel-BlackundWhite.jpg" src="/item/images/114/3000x3000/114-Design-Sessel-BlackundWhite.jpg" style="display: inline;">
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- STORE SPECIALS -->
                                            <!-- ./STORE SPECIALS -->
                                            <!-- ITEM DETAILS -->
                                            <div class="thumb-content">
                                                <a href="/sessel-floating-water/123/1021" class="thumb-title small">
                                                    LKW
                                                    
                                                </a>
                                                <div class="thumb-meta">
                                                    
                                                    <div class="prices">
                                                        <del class="crossprice">
                                                        320,00&nbsp;€
                                                        </del>
                                                        
                                                        <div class="price">
                                                            299,00&nbsp;€
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            <!-- ./ITEM DETAILS  -->
                                        </div>
                                    </article>                    </li>
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                </ul>
        </div>
    </div>
</div>
{% endblock %}