{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set numberOfCols = config('Ceres.footer.number_of_cols') %}
{% set colSize = (12 / (numberOfCols + 1)) %}
{% set displayedCategories = [] %}
{% set numberOfFeatures = config('Ceres.footer.number_of_features') %}

<div class="footer">
    
    <!-- <div class="container-max footer-boxes m-y-2">
        <div class="row is-flex">
            <div class="col-sm-12 col-md-4">
                <h1>Ihre Vorteile</h1>
                <ul>
                    <li>Text</li>
                    <li>Text</li>
                    <li>Text</li>
                    <li>Text</li>
                    <li>Text</li>
                    <li>Text</li>
                    <li>Text</li>
                    <li>Text</li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-4">
                <h1>Beratung</h1>
                <p>Sie haben Fragen? Wir beraten Sie gern!</p>
                <p>Der schnellste Draht zu unserer professionellen Beratung:</p>
                <span><a href="tel:123">+49 (0)8341 90 80 533</span>
                <small>Mo-Fr, 08:00 - 17:00 Uhr</small>
                <span><a href="mailto:info@kiom24.de">info@kiom24.de</a></span>
            </div>
            <div class="col-sm-6 col-md-4">
                <h1>Amazon Kunde?</h1>
                <p>Bezahlen Sie jetzt mit den Adress- und Zahlungsdaten, die in Ihrem Amazon-Konto hinterlegt sind.</p>
                <a href="#" class="btn btn-primary btn-lg">Bezahlen mit Amazon</a>
            </div>
        </div>
    </div> -->

    <div class="footer-service m-y-2">
        <div class="container-max">
            <div class="row is-flex text-xs-center">
                <div class="col-xs-6 col-sm-6 col-lg-3">
                    <span class="footer-badge"><i class="fa fa-shield" aria-hidden="true"></i></span>
                    <h2>Sicherheit</h2>
                    <p>Trusted Shops zertifiziert mit Käuferschutz und Geld zurück Garantie</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-3">
                    <span class="footer-badge"><i class="fa fa-money" aria-hidden="true"></i></span>
                    <h2>Bezahlung</h2>
                    <p>Bequemes und schnelles Bezahlen per PayPal, Kreditkarte, Lastschrift, Rechnung, Amazon Pay, Paydirekt und Vorkasse.</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-3">
                    <span class="footer-badge"><i class="fa fa-truck" aria-hidden="true"></i></span>
                    <h2>Versand</h2>
                    <p>Lagerartikel werden innerhalb eines Werktages versandt. Der Versand erfolgt per DHL, DPD oder Spedition.</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-3">
                    <span class="footer-badge"><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
                    <h2>Qualität</h2>
                    <p>Qualitativ hochwertige KIOM Produkte, durch unseren Direktvertrieb mit sehr gutem Preis- / Leistungsverhältnis.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-max footer-seo m-y-2">
        <div class="row">
            <div class="col-xs-12">
                <h2>Entdecken Sie die unvergleichliche Vielfalt an Lampen von Kiom 24</h2>
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor sanctus est Lorem ipsum dolor sit amet.
                </p>
                <h2>Entdecken Sie die unvergleichliche Vielfalt an Lampen von Kiom 24</h2>
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor sanctus est Lorem ipsum dolor sit amet.
                </p>
                <div class="collapse" id="collapseSEO">
                    <h2>Entdecken Sie die unvergleichliche Vielfalt an Lampen von Kiom 24</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor sanctus est Lorem ipsum dolor sit amet.
                    </p>
                    <h2>Entdecken Sie die unvergleichliche Vielfalt an Lampen von Kiom 24</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor sanctus est Lorem ipsum dolor sit amet.
                    </p>
                    <h2>Entdecken Sie die unvergleichliche Vielfalt an Lampen von Kiom 24</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor sanctus est Lorem ipsum dolor sit amet.
                    </p>
                </div>
                <a class="btn btn-link text-xs-center" data-toggle="collapse" href="#collapseSEO" aria-expanded="false" aria-controls="collapseSEO">
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    <span></span>
                </a>
            </div>
        </div>
    </div>

    <div class="footer-meta m-t-2">
        <div class="container-max">
            <div class="row text-xs-center">
                <div class="col-xs-12">
                    <h2>Service Hotline</h2>
                    <p>Mo-Fr, 08:00 - 17:00 Uhr</p>
                </div>
                <div class="col-xs-12">
                    <i class="fa fa-phone fa-lg" aria-hidden="true"></i><br />
                    <a href="tel:+4983419080533" class="text-primary">+49 (0) 8341 90 80 533</a>
                </div>
                
            </div>
            <div class="row text-xs-center">
                <div class="col-xs-12">
                    <h2>Ihre Vorteile</h2>
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-3">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                    <h3>30 Tage Rückgaberecht</h3>
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-3">
                    <i class="fa fa-truck" aria-hidden="true"></i>
                    <h3>Kostenloser Rückversand<br />
                    (ab 40 &euro; Warengesamtwert)</h3>
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-3">
                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                    <h3>KIOM Bestpreise durch Hersteller Direktvertrieb</h3>
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-3">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    <h3>Erstklassiger Service vor und nach dem Kauf</h3>
                </div>
            </div>
        </div>
    </div>
    
    <div class="footer-news-social p-y-3">
        <div class="container-max">
            <div class="row">
                <div class="col-sm-4">
                    <h1>Newsletter abonnieren<br />
                    <span class="text-primary">und 5&euro; kassieren</span></h1>
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Ihre E-Mail Adresse">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6 offset-sm-2">
                    <h1>Folgen Sie uns auf:</h1>
                    <a class="text-primary m-r-2" href="" target="_blank" data-toggle="tooltip"
        data-placement="top" title="Facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                    <a class="text-primary m-r-2" href="" target="_blank" data-toggle="tooltip"
        data-placement="top" title="Youtube"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-links p-y-3">
        <div class="container-max">
            <div class="row">
                <div class="col-xs-6 col-lg-3">
                    <h2>KIOM24 Service</h2>
                    <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Kontakt</a>
                    <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Versandinformationen</a>
                    <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Zahlungsbedingungen</a>
                    <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Widerrufsrecht</a>
                    <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> AGB</a>
                </div>
                <div class="col-xs-6 col-lg-3">
                    <h2>Informationen</h2>
                    <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Impressum</a>
                    <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Über uns</a>
                    <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Datenschutz</a>
                    <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Newsletter</a>
                    <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Entsorgung</a>
                </div>
                <div class="col-xs-6 col-lg-3">
                    <h2>Bezahlarten</h2>
                    <span><img src="{{ plugin_path('Kiom') }}/images/footer_new/paypal.svg" class="img-fluid"></span>
                    <span><img src="{{ plugin_path('Kiom') }}/images/footer_new/mastercard.svg" class="img-fluid"></span>
                    <span><img src="{{ plugin_path('Kiom') }}/images/footer_new/visa.svg" class="img-fluid"></span>
                    <span>Lastschrift</span>
                    <span>Rechnung</span>
                    <span><img src="{{ plugin_path('Kiom') }}/images/footer_new/paydirekt.svg" class="img-fluid"></span>
                    <span>Vorkasse</span>
                </div>
                <div class="col-xs-6 col-lg-3">
                    <h2>Versandarten</h2>
                    <span><img src="{{ plugin_path('Kiom') }}/images/footer_new/dhl.svg" class="img-fluid"></span>
                    <span><img src="{{ plugin_path('Kiom') }}/images/footer_new/dpd.svg" class="img-fluid"></span>
                    <span><i class="fa fa-truck fa-lg" aria-hidden="true"></i> Spedition</span>
                    
                    <h2>Partner</h2>
                    <!--  billiger.de Partner button with Shop reviews -->
                    <div class="billiger-badge" style="width:130px;">
                    
                        <div id="bde_shopreview">
                            <a href="http://www.billiger.de/show/kategorie/100162.htm" target="_blank">
                                <img src="//img.billiger.de/billiger/partner/billigerde_pb.png"
                                    width="88" height="59" border="0" alt="Haushalt und Wohnen bei billiger.de" title="Haushalt und Wohnen bei billiger.de"/>
                            </a>
                        </div>
                    </div>
                    <!--  / billiger.de Partner button with Shop reviews -->
                </div>
            </div>
            <div class="row m-t-3">
                <div class="col-xs-12 text-xs-center">
                    <a href="/">
                         <img src="{{ plugin_path('Kiom') }}/images/logo.png" class="img-fluid">
                     </a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="footer-copyright p-y-2">
        <div class="container-max">
            <div class="row">
                <div class="col-md-7">
                    <sup>*</sup> Alle Preise inkl. gesetzl. Mehrwertsteuer zzgl. Versandkosten und ggf. Nachnahmegebühren, wenn nicht anders beschrieben.
                </div>
                <div class="col-md-2">
                    Theme by <a href="http://www.frontend-studios.de" target="_blank">Frontend Studios GmbH</a>
                </div>
                <div class="col-md-3 text-md-right">
                    &copy; Copyright 2017 Kiom GmbH &amp; Co. KG
                </div>
            </div>
        </div>
    </div>
</div>