{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set lang         = services.sessionStorage.getLang() %}
{% set numberOfCols = config('Ceres.footer.number_of_cols') %}
{% set colSize = (12 / (numberOfCols + 1)) %}
{% set displayedCategories = [] %}
{% set numberOfFeatures = config('Ceres.footer.number_of_features') %}

<div class="footer">
    
    <div class="container-max footer-boxes m-y-2">
        <div class="row prop-row m-y-2">
            <div class="col-xs-12 col-md-12 col-lg-4 box1">
                <div class="prop-xs-1-1 prop-sm-2-1 prop-md-4-1 prop-lg-1-1">
                    <div class="prop-inner">
                        <div class="box-inner">
                            <h2>KIOM DESIGNLAMPS</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4 box2">
                <div class="prop-xs-1-1 prop-sm-2-1 prop-md-1-1">
                    <div class="prop-inner">
                        <div class="box-inner">
                            <h2>Beratung</h2>
                            <p>Sie haben Fragen? Wir beraten Sie gern!</p>
                            <p>Der schnellste Draht zu unserer professionellen Beratung:</p>
                            <span><a href="tel:123">+49 (0)8341 90 80 533</a></span>
                            <small>Mo-Fr, 08:00 - 17:00 Uhr</small>
                            <span><a href="mailto:info@kiom24.de">info@kiom24.de</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4 box3">
                <div class="prop-xs-1-1 prop-sm-2-1 prop-md-1-1">
                    <div class="prop-inner">
                        <div class="box-inner">
                            <div class="box3-inner">
                                <h2>Beliebteste Kategorien</h2>
                                <ul>
                                    <li><a href="{{ services.category.getURL(169, lang) }}"><i class="fa fa-angle-double-right" aria-hidden="true"></i> {{ services.category.get(169, lang).details[0].name }}</a></li>
                                    <li><a href="{{ services.category.getURL(47, lang) }}"><i class="fa fa-angle-double-right" aria-hidden="true"></i> {{ services.category.get(47, lang).details[0].name }}</a></li>
                                    <li><a href="{{ services.category.getURL(19, lang) }}"><i class="fa fa-angle-double-right" aria-hidden="true"></i> {{ services.category.get(19, lang).details[0].name }}</a></li>
                                    <li><a href="{{ services.category.getURL(20, lang) }}"><i class="fa fa-angle-double-right" aria-hidden="true"></i> {{ services.category.get(20, lang).details[0].name }}</a></li>
                                    <li><a href="{{ services.category.getURL(102, lang) }}"><i class="fa fa-angle-double-right" aria-hidden="true"></i> {{ services.category.get(102, lang).details[0].name }}</a></li>
                                    <li><a href="{{ services.category.getURL(103, lang) }}"><i class="fa fa-angle-double-right" aria-hidden="true"></i> {{ services.category.get(103, lang).details[0].name }}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-service m-y-2">
        <div class="container-max">
            <div class="row is-flex text-xs-center">
                <div class="col-xs-6 col-sm-6 col-lg-3">
                    <span class="footer-badge"><i class="fa fa-shield" aria-hidden="true"></i></span>
                    <h2>Sicherheit</h2>
                    <p>Trusted Shops zertifiziert mit Käuferschutz und Geld zurück Garantie</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-3">
                    <span class="footer-badge"><i class="fa fa-money" aria-hidden="true"></i></span>
                    <h2>Bezahlung</h2>
                    <p>Bequemes und schnelles Bezahlen per PayPal, Kreditkarte, Lastschrift, Rechnung, Amazon Pay, Paydirekt und Vorkasse.</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-3">
                    <span class="footer-badge"><i class="fa fa-truck" aria-hidden="true"></i></span>
                    <h2>Versand</h2>
                    <p>Lagerartikel werden innerhalb eines Werktages versandt. Der Versand erfolgt per DHL, DPD oder Spedition.</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-3">
                    <span class="footer-badge"><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
                    <h2>Qualität</h2>
                    <p>Qualitativ hochwertige KIOM Produkte, durch unseren Direktvertrieb mit sehr gutem Preis- / Leistungsverhältnis.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-max footer-seo m-y-2">
        <div class="row">
            <div class="col-xs-12">                
       
                <h2>Entdecken Sie die unvergleichliche Vielfalt an Lampen von Kiom24</h2>
                <p>Kiom 24 Designlamps bietet attraktive LED-Lampen und LED-Leuchten der Marke Kiom zu besonders günstigen Preisen im Direktvertrieb an. Unser Angebotsspektrum umfasst von der stylischen <a href="/innenleuchten/bogenleuchten/">Bogenlampe</a> über sehenswerte Stehlampen und Pendelleuchten bis hin zu Wand-, Decken und-Tischleuchten unterschiedlichste Wohnraumleuchten sowie Außenleuchten und Leuchtmittel. Dabei vereint Kiom24 Designlamps Lampen Technik und Design zu einzigartigen Produkten.</p>
                <h2>Stilvolle Beleuchtung für den Wohnraum</h2>
                <p>Wenn Sie auf der Suche nach einer schönen <a href="/led/led-stehleuchten/">LED-Stehlampe</a> sind, finden Sie bei uns wundervolle Modelle aus Metall mit warmweißem oder tageslichtweißem Licht. Passend dazu bieten wir Ihnen auch Metall-Tischleuchten. Besonders beliebt ist unsere Bogenlampe "Big Lilli", die mit schwarzem oder weißem Marmorsockel erhältlich ist. Auch die Designklassiker "Lilli" und "Five Fingers" bringen als Bogenlampen besonders kultiges Flair in Ihren Wohnraum. Apropos Designklassiker: Kennen Sie unsere Bankerslamp "Jack" mit grünem oder weißem Glasschirm? Eine solche Leuchte ist etwas ganz Besonderes auf Ihrem Schreibtisch.</p>
                
                    
                <div class="collapse" id="collapseSEO">
                    <p>Absolute Highlights sind auch unsere LED-Leuchten "Swan". Diese <a href="/innenleuchten/tischleuchten/">Tischleuchten</a> sind als "Chimei Swan" mit dem Reddot und iF Design Award ausgezeichnet. Auch ihre "inneren" Werte sind mehr als überzeugend: Mit ihren 11 Watt LEDs gehören sie zu den lichtstärksten <a href="/led/led-tischleuchten/">LED-Tischleuchten</a> am Markt.</p>
                    <p>Die Kiom Pendelleuchten zeichnen sich durch große Vielfalt aus. So können Sie sich für einen edlen Kristalllüster ebenso entscheiden wie für eine puristische <a href="/led/led-pendelleuchten/">LED-Pendelleuchte</a>, die den Wunsch nach exklusivem Design und niedrigem Stromverbrauch gleichermaßen erfüllt. Passend hierzu gibt es Deckenleuchten mit Glaskristallen und energiesparende LED-Deckenleuchten.</p>
                    <h2>Mit attraktiver LED-Beleuchtung Geld sparen</h2>
                    <p><a href="/led/led-einbauleuchten/">LED-Einbauleuchten</a> ersetzen mehr und mehr energiefressende Halogen- oder Leuchtstoffröhrensysteme. Egal ob im privaten oder im geschäftlichen Bereich, gerade dort, wo über viele Stunden hinweg Licht brennt, ist Energieeffizienz gefragt. Diesen Anspruch können beispielsweise unsere Einbauleuchten im Format 620 x 620 Millimeter als LED-Panels in Rasterdecken erfüllen. Mit einem Abhängeset können diese wahlweise auch als Pendelleuchten verwendet werden. Wenn Sie es im Wohnraum gerne gemütlich haben, liefern wir diese LED-Leuchten auch mit warmweißem Licht.</p>
                    <p>Auch unsere Kiom LED Einbaustrahler werden sehr gerne als Beleuchtungslösung verwendet - je nach Wunsch mit sehr niedrigem Stromverbrauch als Deko- oder Orientierungsbeleuchtung oder mit höherer Wattzahl als Raumausleuchtung. Je nach IP-Klasse sind sie als LED-Leuchten im Innen- oder als LED-Lampen im Außenbereich einsetzbar.</p>
                    <p>LED-Leuchtmittel setzen sich immer mehr am Markt durch. Kiom bietet in diesem Bereich hervorragende Produkte an. Als Alternative in GU 10 oder MR 16 Einbaustrahlern lässt sich damit eine Menge Energie und somit auch Geld einsparen. Bei uns können Sie auch LED-Leuchtmittel in den Formaten E27, E14, G4 und Par 30 bestellen. Diese zeichnen sich durch eine angenehme Lichtfarbe und ihre hohe Zuverlässigkeit aus.</p>
                    <h2>LED-Design-Lampen online bestellen</h2>
                    <p>Sie interessieren sich für eine <a href="/innenleuchten/bilderleuchten/">Bilderleuchte</a> oder eine <a href="/aussenleuchten/bewegungsmelderleuchten/">Leuchte mit Bewegungsmelder</a>? Sie möchten Ihr Zuhause mit Kugellampen oder einer stylishen Bogenlampe aufpeppen? Entscheiden Sie sich für Ihre Lieblingslampe und ordern Sie bequem online in unserem Shop.</p>
                    <p>Diese <strong>Lampen</strong> könnten Sie auch interessieren:</p>
                    <p>Design <a href="/Aussenleuchten/Kugelleuchten/">Kugelleuchten</a> für drinnen und draußen sind ein optisches Highlight.</p>
                </div>
                <a class="btn btn-link text-xs-center" data-toggle="collapse" href="#collapseSEO" aria-expanded="false" aria-controls="collapseSEO">
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    <span></span>
                </a>
            </div>
        </div>
    </div>

    <div class="footer-meta m-t-2">
        <div class="container-max">
            <div class="row text-xs-center">
                <div class="col-xs-12">
                    <h2>Service Hotline</h2>
                    <p>Mo-Fr, 08:00 - 17:00 Uhr</p>
                </div>
                <div class="col-xs-12">
                    <i class="fa fa-phone fa-lg" aria-hidden="true"></i><br />
                    <a href="tel:+4983419080533" class="text-primary">+49 (0) 8341 90 80 533</a>
                </div>
                
            </div>
            <div class="row text-xs-center">
                <div class="col-xs-12">
                    <h2>Ihre Vorteile</h2>
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-3">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                    <h3>30 Tage Rückgaberecht</h3>
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-3">
                    <i class="fa fa-truck" aria-hidden="true"></i>
                    <h3>Kostenloser Rückversand<br />
                    (ab 40 &euro; Warengesamtwert)</h3>
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-3">
                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                    <h3>KIOM Bestpreise durch Hersteller Direktvertrieb</h3>
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-3">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    <h3>Erstklassiger Service vor und nach dem Kauf</h3>
                </div>
            </div>
        </div>
    </div>
    
    <div class="footer-news-social p-y-3">
        <div class="container-max">
            <div class="row">
                <div class="col-sm-4">
                    <h1>Newsletter abonnieren<br />
                    <span class="text-primary">und 5&euro; kassieren</span></h1>
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Ihre E-Mail Adresse">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6 offset-sm-2">
                    <h1>Folgen Sie uns auf:</h1>
                    <a class="text-primary m-r-2" href="" target="_blank" data-toggle="tooltip"
        data-placement="top" title="Facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                    <a class="text-primary m-r-2" href="" target="_blank" data-toggle="tooltip"
        data-placement="top" title="Youtube"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-links p-y-3">
        <div class="container-max">
            <div class="row">
                <div class="col-xs-6 col-lg-3">
                    <h2>KIOM24 Service</h2>
                    <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Kontakt</a>
                    <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Versandinformationen</a>
                    <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Zahlungsbedingungen</a>
                    <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Widerrufsrecht</a>
                    <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> AGB</a>
                </div>
                <div class="col-xs-6 col-lg-3">
                    <h2>Informationen</h2>
                    <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Impressum</a>
                    <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Über uns</a>
                    <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Datenschutz</a>
                    <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Newsletter</a>
                    <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Entsorgung</a>
                </div>
                <div class="col-xs-6 col-lg-3">
                    <h2>Bezahlarten</h2>
                    <span><img src="{{ plugin_path('Kiom') }}/images/footer_new/paypal.svg" class="img-fluid"></span>
                    <span><img src="{{ plugin_path('Kiom') }}/images/footer_new/mastercard.svg" class="img-fluid"></span>
                    <span><img src="{{ plugin_path('Kiom') }}/images/footer_new/visa.svg" class="img-fluid"></span>
                    <span>Lastschrift</span>
                    <span>Rechnung</span>
                    <span><img src="{{ plugin_path('Kiom') }}/images/footer_new/paydirekt.svg" class="img-fluid"></span>
                    <span>Vorkasse</span>
                </div>
                <div class="col-xs-6 col-lg-3">
                    <h2>Versandarten</h2>
                    <span><img src="{{ plugin_path('Kiom') }}/images/footer_new/dhl.svg" class="img-fluid"></span>
                    <span><img src="{{ plugin_path('Kiom') }}/images/footer_new/dpd.svg" class="img-fluid"></span>
                    <span><i class="fa fa-truck fa-lg" aria-hidden="true"></i> Spedition</span>
                    
                    <h2>Partner</h2>
                    <!--  billiger.de Partner button with Shop reviews -->
                    <div class="billiger-badge" style="width:130px;">
                    
                        <div id="bde_shopreview">
                            <a href="http://www.billiger.de/show/kategorie/100162.htm" target="_blank">
                                <img src="//img.billiger.de/billiger/partner/billigerde_pb.png"
                                    width="88" height="59" border="0" alt="Haushalt und Wohnen bei billiger.de" title="Haushalt und Wohnen bei billiger.de"/>
                            </a>
                        </div>
                    </div>
                    <!--  / billiger.de Partner button with Shop reviews -->
                </div>
            </div>
            <div class="row m-t-3">
                <div class="col-xs-12 text-xs-center">
                    <a href="/">
                         <img src="{{ plugin_path('Kiom') }}/images/logo.png" class="img-fluid">
                     </a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="footer-copyright p-y-2">
        <div class="container-max">
            <div class="row">
                <div class="col-md-7">
                    <sup>*</sup> Alle Preise inkl. gesetzl. Mehrwertsteuer zzgl. Versandkosten und ggf. Nachnahmegebühren, wenn nicht anders beschrieben.
                </div>
                <div class="col-md-2">
                    Theme by <a href="http://www.frontend-studios.de" target="_blank">Frontend Studios GmbH</a>
                </div>
                <div class="col-md-3 text-md-right">
                    &copy; Copyright 2017 Kiom GmbH &amp; Co. KG
                </div>
            </div>
        </div>
    </div>
</div>