{% set lang = services.sessionStorage.getLang() %}
    {% for category in categories %}
        {% if category.children is empty %}
            <li><a href="{{ services.category.getURL( category, lang ) }}" data-img="/documents/{{ category.details[0].image2Path }}">{{ category.details.first.name }}</a></li>
        {% else %}
            <li class="ddown">
                <a href="{{ services.category.getURL( category, lang ) }}" data-img="/documents/{{ category.details[0].image2Path }}">{{ category.details.first.name }}</a>
                <ul data-level="{{ level }}">
                    {% include "Kiom::PageDesign.Partials.Header.NavigationList" with  { 'categories' : category.children, 'level' : level }  %}
                    {% if (level == 1) or (level == 2) or (level == 3) or (level == 4) or (level == 5) or (level == 6)  %}
                        <li class="menu-cat-img">
                            {% set currentCategory = category.id %}
                            <div class="hidden-xs-up">{{ currentCategory | json_encode() }}</div>
                            <div class="hidden-xs-up">{{ category | json_encode() }}</div>
                            
                            <a href="{{ services.category.getURL( category, lang ) }}">
                                <img class="img-fluid" src="/documents/{{ category.details[0].image2Path }}">
                            </a>
                        </li>
                    {% endif %}
                    {% set level = level +1 %}
                </ul>
            </li>
        {% endif %}
    {% endfor %}